/* ESTILOS GENERALES */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

/* CABECERA */

header {
    background-color: #1e3a5f;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* MENÚ */

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ffd700;
}

/* CONTENIDO PRINCIPAL */

main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    margin-bottom: 100px;
}

/* SECCIONES */

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* PRODUCTOS */

 .lista-de-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
} 

.producto {
    background-color: #eef3f8;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: solid 1px black;
}

.producto:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.producto img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.producto h3 {
    color: #1e3a5f;
}

/* BOTONES */

button {
    background-color: #1e3a5f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #244c7a;
}

/* PIE */
footer {
    background-color: #1e3a5f;
    color: white;
    text-align: center;
    padding: 15px;
    position: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
}